---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <!-- <div class="mb-10 text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Integrated MTECH in Computer Science and Engineering"
      subtitle="2021 to 2025 at VIT AP Univerisity, Amaravati, Andhra Pradesh, India"
    />
    <!-- <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    /> -->
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Systems Engineer"
      subtitle="From 03/2023 to Present at Digitalfortress In , Amaravati, Andhra Pradesh, India"
    >
      Independently Contributed in creation and training of an hybrid Deep learning model for Facial Antispoofing
      detection in real time face biometrics using Pytorch Lightning and Inferencing the model in azure functions
      within a serverless architecture in comprising azure FrontDoor as Load balancer with Azure CDN
      Designed a Continuous Ingetration (CI) pipelines using Github Actions for Docker Build connected with
      Connected with Continuous Deployment pipeline in Azure Kubernetes Services with ArgoCD with Automated
      Unit Testing.

    </TimeLineElement>
    <TimeLineElement
      title="Deep Learning Research Student"
      subtitle="From 06/2023 to Present at , VIT AP Artificial Intelligence & Robotics Laboratory, Amaravati, Andhra Pradesh, India"
    >
      Developed an Open Source Flutter Application for Apache Guacamole using REST API’s
      Worked on DiffScaler an Text to Video Generation using Stable Diffusion XL base with Custom Video Upscale
      which can produce the Videos up to 4k Resolution with 100Mbps Developed an Open Source Flutter Application
      Configured Apache Guacamole for Remotely Access GUI/SSH of any Linux and Windows Workstations and
      Servers via DNS over Cloud Flare Zero Trust 
    </TimeLineElement>
    <TimeLineElement
      title="Chapter Lead"
      subtitle="From 09/2023 to Present at Null Vijayawada City Chapter, Andhra Pradesh, India"
    >
      Started Contributing to Null Vijayawada Chapter , hosting Monthly Meetups based on Cyber Security 
    </TimeLineElement>
    <TimeLineElement
      title="Technical Associate"
      subtitle="From 06/2022 to 08/2023 at , Null VITAP Student Chapter, Amaravati, Andhra Pradesh, India"
    >
      Developed An Open Source Chrome Extension for VIT AP Students for Simplifying ERP Portal (VTOP) User
    Experience ,Over 3000+ Active Users Monthly.
    Worked with the technical team for creating Capture the Flag (CTF’s) Challenges on OWASP, Cryptography,
    Vulnerability Analysis, Privileg
    </TimeLineElement>
    
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Software</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
  <li>Software</li>
  <li>Docker</li>
  <li>Kubernetes</li>
  <li>NextJS</li>
  <li>AngularJS</li>
  <li>Pytorch Lightning</li>
  <li>GRPc</li>
  <li>RestAPI</li>
  <li>Flutter</li>
  <li>OpenCV</li>
  <li>AzureAKS</li>
  <li>Gradio</li>
  <li>MongoDB</li>
</ul>
<br>
<div class="mb-5">
  <div class="text-3xl w-full font-bold">Programming Languages</div>
</div>
<ul class="list-disc md:columns-5 columns-2 mx-6">
  <li>Python</li>
  <li>JavaScript</li>
  <li>Typescript</li>
  <li>Yaml</li>
  <li>Dart</li>
  <li>Bash</li>
  <li>PHP</li>
</ul>
</BaseLayout>
